<%= form_tag "/books/#{@book.id}", method: :patch do %>

<div>
  <%= label_tag "title" %>
  <%= text_field_tag "title", @book.title %>
</div>
<div>
  <%= label_tag "author_first_name" %>
  <%= text_field_tag "author_first_name", @book.author_first_name %>
</div>

<div>
  <%= label_tag "author_last_name" %>
  <%= text_field_tag "author_last_name", @book.author_last_name %>
</div>

<div>
  <%= label_tag "page_count" %>
  <%= text_field_tag "page_count", @book.page_count %>
</div>

<div>
  <%= label_tag "rating" %>
  <%= text_field_tag "rating", @book.rating %>
</div>

<div>
  <%= label_tag "genre" %>
  <%= text_field_tag "genre", @book.genre %>
</div>

<%= submit_tag "Update Book" %>

<% end %>