<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Page Count</th>
    <th>Rating</th>
    <th>Genre</th>
    <th>ID</th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author_first_name %> <%= book.author_last_name %></td>
    <td><%= book.page_count %></td>
    <td><%= book.rating %></td>
    <td><%= book.genre %></td>
    <td><%= book.id %></td>
  </tr>
<% end %>
</table>
